<!DOCTYPE html>
<html lang="es">
	<head>
		<meta charset="utf-8">
		<title> Carreras </title>
		<link rel="stylesheet" type="text/css" href="styles_careers.css">
	</head>
	<body>
		<div id="agrupar">
			<h1 id = "titulo"> Carreras </h1>
			<aside id = "carreras">
				<h3 id = "carrerasD"> Carreras disponibles </h3>
				<ul id="lista">
					<% @careers.map do |career| %> 
					<li> <%= career.name %> </a> </li> <br>
					<% end %>
				</ul>
			</aside>
			<article >
				<figure  id="bannerVertical">
					<img width="385" height="100%" src="/images/bannerCarreras.png">
				</figure>
			</article>
			<ul>
				<h2 id = "volver"> Si desea volver al menu principal haga <a href="/"> clic aqui </a> </h2> <br>
			</ul>	
			<div id="contacto">
				UNRC &copy; 2021 Alan Arce - Molina Enzo Agustin - Palacio Luciano
			</div>
		</div>
	</body>
</html>
