<!DOCTYPE html>

<html lang="es">
	<head>
		<meta charset="utf-8">
		<title>Ingreso de Carreras</title>
	</head>

	<body>
		<div class = "cuerpo">
			<header id = "cabecera">
				<h1 id = "titulo"> Carreras </h1>
			</header>
			<section id = "formulario">
				<h3 id = "IngresoCarreras"> Ingrese una carrera <h3>
				<form action '/careersAdmin' method = 'POST'>
					<input type = 'text' name = 'name' value = 'Ingrese aqui su carrera'>
					<input type = 'submit' value = 'Aceptar'>
				<form>
			</section>
		</div>
	</body>
</html>