<!DOCTYPE html>

<html lang="es">
	<head>
		  <meta charset="utf-8">
		  <title>Carreras</title>
		  <link rel="stylesheet" href="styles_careers.css">
	</head>

	<body>
		<div class = "cuerpo">
			<header id = "cabecera">
				<h1 id = "titulo"> Carreras </h1>
			<aside id = "carreras">
				<h3 id = "carrerasD"> Carreras disponibles </h3>
				<ul>
					<% @careers.map do |career| %> 
					<li id = "lista">
						<a href = "careers/<%=career.id %>"> <%= career.name %> </a>
						(<%=career.surveys.count.to_s  %>)
					</li>
					<% end %>
				</ul>
			</aside>
		</div>
	</body>
</html>