<!DOCTYPE html>
  
<html>
    <head>
        <title>
          Vocational test
        </title>
    </head>
    <body>
    <!--  Hola <b><%= @name %></b>!  -->

    <style>
    	body{
    		background-image: url('https://images.pexels.com/photos/301920/pexels-photo-301920.jpeg?cs=srgb&dl=pexels-pixabay-301920.jpg&fm=jpg');
    		background-size: cover;
    		background-repeat: no-repeat;
    	}
    </style>

    <font color="white">
    <h1 style="font-family:arial;"> WELCOME TO VOCATIONAL TEST </h1>
    <hr>	

	<ul>
		<em> Click here to do the test </em>
		<li> 
		<a href="surveys"> Surveys </a>  
		<img width="20" alt="test" src="https://www.bloglet.com/gallery/is-taking-a-career-aptitude-test-a-good-idea/bubblesheet1.jpg"/>
		</li>
	</ul>
	<ul>
		<em> Click here to see the degrees </em>
		<li> 
		<a href="careers"> Carrers </a>  
		<img width="20" alt="carrer" src="https://factorcapitalhumano.com/wp-content/uploads/2019/07/carreras-universitarias-programas-e1562465008754.jpg"/>
		</li>
	</ul>
	</font>

    </body>
</html>

