<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="utf-8">
        <title> Vocational test </title>
        <link rel="stylesheet" href="styles_hello_template.css">
    </head>
    <body>
        <img class = "centralImg" src="images/pexels-photo-3769697.jpeg"> 
        <h1> TEST VOCACIONAL </h1> 
        <div class="centerLeft">
            <h5> Realizar el test <br> vocacional: </h5> 
            <a href="surveys"> Test <br> <img src="images/78.svg" width="50"> </a>
        </div>
        <div class="centerRight">
            <h5> Ver las carreras <br> disponibles: </h5>
            <a href="careers"> Carreras <img src="images/278.svg" width="50"> </a> 
        </div>
        <div class="centerCenter">
            <h5> Ir a pagina oficial <br> de la UNRC: </h5>
            <a href="https://www.unrc.edu.ar/" target="_blank"> UNRC <img src="images/unrc.svg" width="72"> </a> 
        </div>
    </body>
    <footer>
        UNRC &copy; 2021 Arce Alan - Molina Enzo Agustin - Palacio Luciano
    </footer>
</html>
