<!DOCTYPE html>
  
<html>
    <head>
        <title>
          Vocational test
        </title>
    </head>
    <body>
    <!--  Hola <b><%= @name %></b>!  <h1 style="font-family:arial;"> WELCOME TO VOCATIONAL TEST </h1>  <font color="white"> -->

    <style>
    	body{    
    		background-image: url('images/fondo1.jpeg');
    		background-size: cover;
    		background-repeat: no-repeat;
    	}
    	h1{
    		text-align: center;
    		color: white;
    		font-size: 300%;
    		font-family: times new roman;
    		font
    	}
    	h3{
    		color: black;
    		font-size: 150%;
    	}
    	h4{
    		color: black;
    		font-family: arial;
    	}
    	a{
    		color: darkblue;
    	}
    	li{
    		color: black;
    	}
    	span{
    		border: inset;
    		border-radius: 5px
    	}
    </style>

    <h1> WELCOME TO VOCATIONAL TEST </h1> 
    

    <hr>	

	<ul>
		<li> <h3> To do the test </h3> </li>
		<ol>
			<li> <h4> Enter your name </h4> </li>
			<li> <h4> Click here <span> <a href="surveys"> Surveys </a> </span> </h4> </li>
		</ol>
		<li> <h3> To see the degrees </h3> </li>
		<ol>
			<li> <h4> Click here <span> <a href="careers"> Carrers </a> </span> </h4> </li>
		</ol>
	</ul>

    </body>
</html>

