<!DOCTYPE html>
  
<html lang="es">
    <head>
        <meta charset="utf-8">
        <title>
          Vocational test
        </title>
        <link rel="stylesheet" href="styles_hello_template.css">
    </head>

    <body>

        <img class = "centralImg" src="images/pexels-photo-3769697.jpeg"> 
        <h1> TEST VOCACIONAL </h1> 

        <div class="centerLeft">
            <h5> Realizar el test vocacional: </h5> 
            <a href="surveys"> Surveys <img src="images/78.svg" width="50"> </a>
        </div>
        <div class="centerRight">
            <h5> Ver la lista de carreras disponibles: </h5>
            <a href="careers"> Careers <img src="images/278.svg" width="50"> </a> 
        </div>
        

    </body>
</html>

