<!DOCTYPE html>

<html lang="es">
	<head>
		<meta charset="utf-8"/>
		<title> Outcome </title>
		<link rel="stylesheet" href="styles_outcomes.css">
	</head>

	<body>

		<div class="intro">
			<h2> La carrera recomendada para vos es: </h2>
		</div>

		<h1> <%= @career.name %> <br> </h1>

		<div class="carreras">
			<ul>
				<li> <h2> Si desea ver la lista de carreras disponibles haga <a href="careers"> clic aqui </a> </h2> </li>
			</ul>
		</div>

	</body> 

	<footer>
	 UNRC &copy; 2021 Alan Arce - Molina Enzo Agustin - Palacio Luciano
	</footer>
</html>