<!DOCTYPE html>
<html lang="es">
	<head>
		<meta charset="utf-8"/>
		<title> Outcome </title>
		<link rel="stylesheet" href="styles_outcomes.css">
	</head>
	<body>
		<div class="intro">
			<h2> La carrera recomendada para vos es: </h2>
		</div>

		<div class="centerTop">
			<h1> <a href=<%=@career.associate_link%> target="_blank"> <%=@career.name%> </a> </h1>
		</div>

		<div class="centerLeft">
            <h5> Volver a la pagina <br> de inicio: </h5> 
            <div class="ref"> <a href="/"> Home <br> <img src="images/home_icon.svg" width="50"> </a> </div>
        </div>
        <div class="centerRight">
            <h5> Ver las carreras <br> disponibles: </h5>
            <div class="ref"> <a href="careers"> Carreras <img src="images/278.svg" width="50"> </a> </div>
        </div>
        <div class="center">
            <h5> Ir a pagina oficial <br> de la UNRC: </h5>
            <div class="ref"> <a href="https://www.unrc.edu.ar/" target="_blank"> UNRC <img src="images/unrc.svg" width="72"> </a> </div>
        </div>

	</body> 
	<footer>
		UNRC &copy; 2021 Arce Alan - Molina Enzo Agustin - Palacio Luciano
	</footer>
</html>
