<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title> Queantities </title>
</head>
<body>
	<p> 
		<%= @carrera.name %> 
		<%=@fecha1 %>
    	<%=@fecha2 %>
    	<%=@cant %>


	</p>
</body>
</html>