<!DOCTYPE html>  
	
<title> Preguntas </title>



<form action = '/questions' method = 'POST'>
	<font color="white">
	<h4> Pregunta: <input type='name' name= 'question[name]'/></h4>
	<h4> Descripcion de la pregunta: <input type = 'description' name = 'question[description]'/></h4>
	<h4> Tipo de pregunta: <input type = 'type' name = 'question[type]'/></h4>
	</font>
	<input type = 'submit' value = 'Aceptar'/>
</form>

<ul>

	<% @questions.map do |question| %> 
	<li>
		<a href = "questions/<%=question.id %>"> <%= question.name %>  (<%= question.description.to_s %>)
	</li>
	<% end %>
</ul>

<body background="https://i.pinimg.com/736x/4f/dc/5c/4fdc5c2d4018cd9feb58cf6146ef836c.jpg">