<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Survey</title>
</head>
<body>
	<div id="agrupar">
		<header id="cabecera">
			
		</header>
		<nav>
			
		</nav>
		<article id="preguntas">
			<form action="/surveys" method="POST">
				<input type="text" name="username" value= "Ingrese aqui su nombre">
				<input type = 'submit' value = 'Aceptar'>
			</form>	
		</article>
		<footer>
			
		</footer>
	</div>
</body>
</html>