* {
	 margin: 0px;
	 padding: 0px;
} 

body {
 	text-align: center;
 	background: #f3f3f3;
 	color: white;

}

#agrupar{
	width: 847px;
	margin-top: 50px;
	margin-right: auto;
	margin-left: auto;
	
}
	
#cabecera {
	/*padding: 25px;*/
    
} 

#titulo{
	background: #3c8dad;
	font-size: 40px;
	font-family: sans-serif;
}

#carreras{
	text-align: left;
	background: #88D4F2;
	float:left;
	width: 847px;
	margin-bottom: 10px;
	color: black;
	border: black 2px solid;
}

#carrerasD{
	padding-left:  30px;
	font-size: 30px;
	text-decoration: underline;
	padding-bottom: 20px;
	padding-top: 10px;
	
}

#lista{
	padding-left:  30px;
	/*display: none;*/
}

#lista li{
	padding-top:3px;
	background: #deedf0;
	list-style: none;
	border: black 2px solid;
	margin-right: 400px;
}

#bannerVertical{
	position:absolute;
	margin-left:460px;
	margin-top:30px;
	margin-right:100px;
}

#Icarreras{
	font-size: 20px;
}

#contacto{
	padding: 5px 15px;
	background: #3498db;
	color: white;
	text-align: center;
	clear: both;
}