 * {
	 margin: 0px;
	 padding: 0px;
} 

body {
 	text-align: center;
 	background: #ecf0f1;
 	color: white;

}

#agrupar{
	width: 847px;
	margin-top: 50px;
	margin-right: auto;
	margin-left: auto;
	
}

#titulo{
	background: #3c8dad;
	font-size: 40px;
	font-family: sans-serif;
	border: black 2px solid;
}

#carreras{
	text-align: left;
	background: #88D4F2;
	float:left;
	width: 847px;
	margin-bottom: 10px;
	color: black;
}

#carrerasD{
	padding-left:  30px;
	font-size: 30px;
	text-decoration: underline;
	padding-bottom: 20px;
	padding-top: 10px;
	
}

#lista{
	padding-left:  30px;
}

#lista li{
	padding:2px 1px;
	padding-left: 10px;
	background: #deedf0;
	list-style: none;
	border: black 2px solid;
	margin-right: 400px;
}

#bannerVertical{
	position:absolute;
	margin-left:460px;
	margin-top:30px;
	margin-right:100px;
}

#Icarreras{
	font-size: 20px;
}

#contacto{
	padding: 5px 15px;
	background: #3498db;
	color: white;
	text-align: center;
	clear: both;
}

#volver{
	font-size: 17px;
	font-style:italic;
	color: black;
	text-align: left;
}
