*{
	margin :0px;
}

/*#agrupar {
	 width: 1020px;
	 margin: 25px auto;
	 text-align: left;
}
 */

body{
	background: #E4E7EB;
}

#cabecera{
	
}

#agrupar{
	background: #E4E7EB;
	/*font-size: 40px;*/
	width: 1020px;
	margin: 45px auto;
	text-align: left;
}

#navegacion li{

	display: inline-block;
	background: #CCCC;
	font-size: 27px;
	padding: 5px 15px;
	/*border-color: yellow;
	border-width: 10px;
	*/
	margin-right:  30px;
	margin-left: 0px;
	font: bold 24px verdana, sans-serif;
}

#navegacion {
	 background: #dddddd;
	 padding: 5px 15px;
}

#bienvenida {
	/*margin-left: 15px;
	margin-top: 15px;
	margin-bottom: 15px;
	*/
	padding: 5px 15px;
	font-size: 25px;
	background: #125d98;
	font-family: Verdana;
	color: white;
}

#form{
	background: #47597e;
	padding: 10px 0;
	color: white;
	font-size: 25px;
}

#preguntas{

}

#aviso{
	padding: 10px 0;
}

#contacto{
	padding: 5px 15px;
	background: #f5a962;
	color: white;
	text-align: center;
}

#imagen{
	width: 100%;
}