*{
	margin :0px;
}

body{
	background: #ecf0f1;
}

#cabecera{
	
}

#agrupar{
	background: #ecf0f1;
	width: 1020px;
	margin: 45px auto;
	text-align: left;
}

#navegacion li{
	display: inline-block;
	background: #CCCC;
	font-size: 27px;
	padding: 5px 15px;
	margin-right:  30px;
	margin-left: 0px;
	font: bold 24px verdana, sans-serif;
}

#navegacion {
	 background: #dddddd;
	 padding: 5px 15px;
	 
}

#bienvenida {
	padding: 5px 15px;
	font-size: 30px;
	background: #47597e;
	font-family: arial;
	color: white;
}

#form{
	background: #dbe6fd;
	color: black;
	font-size: 17px;
	width: 720px;
	padding-right: 50px;
	float: left;
	padding-top:  20px;
	padding-bottom: 20px;
	padding-left: 15px;
	font-family: arial;
	margin-bottom: 30px;

}

#preguntas{
	padding: 5px;
}

#aviso{
	padding: 10px 0;
}

#bannerVertical{
	float: right;
	width: 235px;
	position: relative;
	margin-bottom: 0px;
}

#informacion {
	background: #8383e3;
	width: 235px;
	margin: 0px;
	text-align:center;
	float:right;
	color:white;
	font-family:arial;
}

#tituloCarreras{
	margin-top:23px;
	font-size: 28px;
}

#informacionCarreras{
	margin-top: 23px;
	padding-bottom: 16px;
	font-size:23px
}

#carreras {
	margin-top: 10px;
	margin-right: 35px;
	text-align: center;
}

#imagen{
	width: 100%;
}

footer{
    background-color: #3498db;
    padding: 10px 10px;
    position: fixed;
    left:0px;
    bottom:0px;
    height:30px;
    width:100%;
    text-align: center;
    text-shadow: 3px 3px 3px #7f8c8d;
    color: white;
    font-size: 120%;
    font-family: times new roman; 
}